* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: tahoma;
}

body {
    padding: 2rem;
}

label {
    display: block;
    margin-bottom: 2rem;
}

label span {
    display: block;
    margin-bottom: 0.5rem;
}

label input {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 0.2rem;
}

button {
    padding: 0.2rem 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 14px;
}